
    <!-- main content from Contentful -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
                    {{> flashmessages}}
        <h1>{{entry.fields.titel}}</h1>
        <hr />
        {{#if user}}
        {{#if user.stripe.plan}}
          <div>
            <script>
            var newtab = window.open("http://localhost:3000/kennisplatform/Watiseenuserinterface.html", '_blank')
            if (newtab) {
              newtab.focus()
            } else {
              alert('Indien u onmiddelijk toegang wil tot het kennisplatform na het inloggen moet u pop-ups toestaan voor www.technology4people.be, in uw browser instellingen.')
            }
            </script>
          </div>
          {{else}}
          {{> paymentForm}}
        {{/if}}
        {{/if}}
        <div class="content-section">
          {{{entry.fields.body}}}
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <p>
        Inhoud Kennisplatform <button type="button" class="btn" data-toggle="collapse" data-target="#overKennisplatform"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>
      </p>
  <div id="overKennisplatform" class="collapse">
    {{{entry.fields.additional}}}
  </div>
    </div>
  </div>
    <div class="row">
      {{#if user}}
        {{#if user.stripe.plan}}
        <div class="text-center">
          <a href="/kennisplatform/Watiseenuserinterface.html" target="_blank" class="btn btn-primary">Naar Kennisplatform</a>
        </div>
        {{else}}
        <div class="text-center">
        </div>
        {{/if}}
      {{else}}
      <div class="text-center">
        <a href="/auth/signup" class="btn btn-primary">Registreer</a>
      </div>

      {{/if}}
    </div>
